<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CognitiveServices.Speech" version="1.11.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="SpeechLib.Models" version="1.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="SpeechLib.Recognition" version="1.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="SpeechLib.Synthesis" version="1.6.0" targetFramework="net472" developmentDependency="true" />
  <package id="Xam.Plugins.TextToSpeech" version="4.0.0.7" targetFramework="net472" />
</packages>